@media only screen and (max-width: 992px) {

    body,html{
        overflow-x: hidden;
    }
    .grid-container{
        height: auto;
    }
    .grid-container--gradient {
        grid-template-columns: 100%;
    }

    .grid-container--gradient .grid-container__item{
        height: 200px;
        display: flex;
        align-items: flex-end;
    }
    .grid-container__item span,.grid-container__item--double{
        position: relative;
    }
    .grid-container__item span{
        width: 85%;
        font-size: 16px;
    }
    .video-presentation__iframe{
        height: 300px;
    }
    .data-block__item{
        margin-bottom: 0;
    }
    .accordion-item,.data-block__dis{
        overflow-x: auto;
    }
    .mainSlider, .thumbsSlider {
        height: 230px !important;
    }
    .swiper-slide .caption{
        font-size:13px
    }
}