.internals-breadcrumb {
  background-color: $breadcrumbBackground;
  padding: 25px 0;
  .breadcrumb {
    margin: 0;
    justify-content: center;
    &-item, &-item a {
      font-family: $boldFont;
      font-size: $bodyFontSize;
      color: $mainColor;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: $chevronDoubleRight;
  font-family: bootstrap-icons;
  font-weight: bold;
}